Please click on below link to reset your password. /n/r/r
Please <a href="{{ path('user_manager_reset_password', {'key': fpkey })}}" target="_blank">click</a> on below link to activate your account. /n/r/r/r 				
Thanks /n/r				
From, /n/r
Development Team";