Welcome to Metronic /n/r/r
Please <a href="{{ path('user_manager_forgot_password')}}" target="_blank">click</a> on below link to activate your account. /n/r/r/r 				
Thanks /n/r				
From, /n/r
Development Team"; 